<div class="container">

    <form [formGroup] = "userForm" (ngSubmit) = "userSubmit()">
        <div class="dol-lg-6 mt-2">
            <input type="text" class="form-control" formControlName="name" placeholder="Enter Name">
        </div>
        
        <div class="dol-lg-6 mt-2">
            <input type="text" class="form-control" formControlName="email" placeholder="Enter email">
        </div>

        <div class="dol-lg-6 mt-2">
            <input type="text" class="form-control" formControlName="contactnumber" placeholder="Enter contact number">
        </div>

        <div class="dol-lg-6 mt-2">
            <input type="text" class="form-control" formControlName="address" placeholder="Enter address">
        </div>

        <div class="col-lg-4 mt-2" >
            <button class="btn btn-primary">ADD</button>
        </div>
    </form>
</div>